.name{
  font-family: "Helvetica", sans-serif;
  float: left;
  font-size: 36px;
}

#navbar ul{
  margin: 0; 
	padding: 5px; 
	list-style-type: none; 
  text-align: center; 
  text-transform: capitalize;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar ul li{
  display: inline;
}

